// Colors
$gray-base:              #000 !default;3
$gray:                   lighten($gray-base, 30%) !default; // #555
$gray-light:             lighten($gray-base, 45%) !default; // #777
$gray-lighter:           lighten($gray-base, 90%) !default; // #eee
