@import 'constants';

.sortable-table.table {
  padding: 20px;

  @include table-rounded-body($table-border-radius);
  @include table-bordered-body($table-border-body);
  // More compact table
  td { padding: 10px; }

  tr td.passed-validation {
    background-color: $green-success;
  }
  tr td.failed-validation {
    background-color: $red-alert;
  }

  // Sorting Icons
  th {
    border: none;
    text-align: center;
    font-size: smaller;
    font-weight: 600;
    color: $gray-darker;
    padding: 4px;

    .sortable-table-icon.glyphicon {
      width: 0;
    }
  }
  th.sorted-asc {
    cursor: pointer;
    .sortable-table-icon.glyphicon:before {
      content: "\e155";
      color: $gray;
    }
  }
  th.sorted-desc {
    cursor: pointer;
    .sortable-table-icon.glyphicon:before {
      content: "\e156";
      color: $gray;
    }
  }
  th.sortable:hover {
    cursor: pointer;
    .sortable-table-icon.glyphicon:before {
      content: "\e155";
      color: $gray-light;
    }
  }
}
