@import 'constants';
.sortable-table.table {

  // More compact table
  td { padding: 10px; }

  // Lighten interior vertical lines
  tr td {
    border-right-color: $gray-lighter;
    &:last-of-type {
      border-right-color: $gray-light;
    }
  }

  // Sorting Icons
  th {
    .sortable-table-icon.glyphicon {
      width: 0;
    }
  }
  th.sorted-asc {
    cursor: pointer;
    .sortable-table-icon.glyphicon:before {
      content: "\e155";
      color: $gray;
    }
  }
  th.sorted-desc {
    cursor: pointer;
    .sortable-table-icon.glyphicon:before {
      content: "\e156";
      color: $gray;
    }
  }
  th.sortable:hover {
    cursor: pointer;
    .sortable-table-icon.glyphicon:before {
      content: "\e155";
      color: $gray-light;
    }
  }
}
