#participant-platform {
  #top-bar {
    margin: 20px;
    display: flex;
    #nav-tabs-container {
      flex-grow: 1;
      .fa {
        margin-right: 5px;
      }
      .fa-plus-circle {
        font-size: 15px;
      }
      .fa-list {
        font-size: 12px;
      }
    }
  }
}
